.App{
    margin: 0 auto;
    max-width: 800px;
    text-align:center;
}

.links { 
    background-color: aliceblue;
    width: fit-content;
    text-align: center;
    transform: translate(125%);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
